<h1>Welcome To Code Dojo</h1>

<p>
    Code Dojo is a place to learn.
</p>

<ul>
    <li>
        <%= link_to "Challenges", challenges_path %>
    </li>
</ul>

<span class="glyphicon glyphicon-search"></span>