<h2>Challenges</h2>

<%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= link_to challenge.title, challenge %></td>
        <td><%= challenge.description %></td>
        <td><%= challenge.points %></td>        
      </tr>
    <% end %>
  </tbody>
</table>