<p>
  <strong>User:</strong>
  <%= @transaction.user.email %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @transaction.prize.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @transaction.cost %>
</p>

<p>
    <strong>Delivered:</strong>
    <%= @transaction.delivered %>
</p>